h1 {
    text-align: center; 
    color: black;
}
#uno {
    text-align: right; 
    color: blueviolet;
}
.uno {
    text-align: left; 
    color: brown;
}

#dos {
  text-indent: 1%; 
}

#tres {
    text-indent: 10%;
  }

  #cuatro {
    text-indent: 20%;
  }

  #cinco {
    text-indent: 30%;
  }

  #seis {
    text-indent: 40%;
  }
  #cuatro{
    text-decoration:underline;
  }
  #cinco{
    text-decoration:overline;
  }
  #seis{
    text-decoration:line-through;
  }
  #siete{
    text-decoration:line-through overline underline;
  }
  #a{
    word-spacing: 10px;
  }
  #b{
    text-transform: capitalize;
  }
  #c{
    text-transform:uppercase;
  }
  #d{
    text-transform:lowercase;
  }
  #e{
    line-height: 79%;
  }
  #f{
    vertical-align:baseline;
  }
  
  .aa{vertical-align: baseline;}
  .bb{vertical-align: sub;}
  .cc{vertical-align: super;}
  .dd{vertical-align: -10px;}
  
  td{height: 100px;border: 2px solid rgb(13, 41, 227); }
  .aaa{vertical-align: top;}
  .bbb{vertical-align: middle;}
  .ccc{vertical-align: bottom;}