body { background-image: url("https://www.realmadrid.com/cs/Satellite?blobcol=urldata&blobheader=image%2Fjpeg&blobkey=id&blobtable=MungoBlobs&blobwhere=1203336469986&ssbinary=true");
background-repeat: no-repeat;
background-size: cover;
text-align: center;}

.b {background-color: aliceblue;}

.inputContainer {
    background-color: rgb(249, 253, 253);
}

.title{
    background-color: aliceblue;
}