/*body { background-image: url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
    background-repeat: repeat-x;}*/

    /*body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
    background-repeat: repeat-y;}*/

    /*body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
        background-repeat: no-repeat;}*/

        /*body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
            background-repeat: repeat;}*/

            /*body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
                background-size: 37cm ;background-repeat: no-repeat;}*/

                /*body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
                    background-repeat: no-repeat;
                    background-attachment: fixed;}*/

                    body { background-image:  url("https://www.lavanguardia.com/files/og_thumbnail/uploads/2018/09/24/5fa448405c2e1.jpeg");
                        background-repeat: no-repeat;
                         background-attachment: scroll ;}

